@font-face {
    font-family: "schoolbook";
    src: url("CenturySchLB.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "gothic";
    src: url("LeagueGothic.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "type";
    src: url("underwood.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "text";
    src: url("AveriaItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

body {
  margin: 0;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

#logo {
  margin-top: 1em;
  width: 35em;
}

@media only screen and (max-width: 44em) {
  #logo {
    width: 80%;
  }
}

#bottle {
  width: 30em;
}

@media only screen and (max-width: 44em) {
  #bottle {
    width: 70%;
  }
}

#about {
  float: left;
  width: 50%;
  font-family: "schoolbook";
  font-size: 1.5em;
  margin-top: 1em;
  letter-spacing: 0.3em;
}

#about #space {
  padding: 4em;
}

@media only screen and (max-width: 70em) {
  #about #space {
    padding: 3em;
  }
}

@media only screen and (max-width: 65em) {
  #about #space {
    padding: 2em;
  }
}

@media only screen and (max-width: 60em) {
  #about #space {
    padding: 1em;
  }
}

@media only screen and (max-width: 50em) {
  #about #space {
    padding: 0;
  }
}

a span {
  letter-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

h2 {
  font-family: "schoolbook";
  font-size: 1.5em;
  letter-spacing: 0.3em;
  font-weight: normal;
}

p {
  font-family: "text";
  font-size: 1.2em;
  line-height: 1.5em;
}

#nm span {
  font-size: 3em;
  font-family: "gothic";
  position: absolute;
  margin-left: -1.2em;
  margin-top: -0.35em;
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 5px 5px 0 #000;
}

#body {
  width: 40em;
  margin: 0 auto;
  text-align: left;
}

@media only screen and (max-width: 50em) {
  #body {
    width: 80%;
  }
}

@media only screen and (max-width: 42em) {
  #body br {
    margin-bottom: 1.5em;
  }
  #body p {
    margin-bottom: 3em;
  }
}

#c {
  text-align: center;
}

.textarea {
  padding-top: 0.5em;
  width: 100%;
  resize: vertical;
  border: 0;
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-bottom-width: 2px;
  border-radius: 2px;
  font-family: "type";
  color: #000;
  font-size: 1.5em;
  height: auto;
  min-height: 1em;
  margin-bottom: 5em;
}

#lovespace {
  height: 11em;
  width: 100%;
}

#love {
  position: absolute;
  bottom: 0.4em;
  width: 100%;
}

#love img {
  width: 8.5em;
}

#load {
  height: 15em;
  animation: MoveUpDown 3s linear infinite;
  position: absolute;
  left: 50%;
  z-index: -1;
}

.lefter {
  padding-left: 6em;
  padding-right: 6em;
}

@media only screen and (max-width: 55em) {
  .lefter {
    padding-left: 6em;
    padding-right: 0;
  }
  .lefter #c {
    margin-left: -3em;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    top: 8em;
    transform: rotate(22deg);
    margin-left: -1.5em;
  }
  25% {
    transform: rotate(20deg);
    margin-left: -1.7em;
  }
  50% {
    top: 10em;
    transform: rotate(22deg);
    margin-left: -1.5em;
  }
  75% {
    transform: rotate(26deg);
    margin-left: -1.3em;
  }
}

#widther {
  height: 24em;
  width: 20em;
  overflow: hidden;
  margin: 0 auto;
  top: 6em;
}

#widther #waves {
  animation: flow 7s linear infinite;
  background-image: url("waves.svg");
  height: 10em;
  width: 80em;
  margin-top: 10em;
}

@keyframes flow {
  0%, 100% {
    top: 6em;
    margin-left: 0;
  }
  100% {
    margin-left: -40.5em;
  }
}

#sending {
  animation: send 5s linear;
  margin-top: -5em;
  color: #fff;
}

@keyframes send {
  0% {
    color: #fff;
  }
  10% {
    color: #000;
  }
  90% {
    color: #000;
  }
  100% {
    color: #fff;
  }
}

#recieveing {
  animation: recieveing 12s linear;
  margin-top: -2.2em;
  color: #fff;
  visibility: hidden;
}

#revbody {
  animation: showme 14s linear;
}

@keyframes recieveing {
  0% {
    color: #fff;
    visibility: hidden;
  }
  50% {
    color: #fff;
    visibility: hidden;
  }
  55% {
    color: #000;
    visibility: visible;
  }
  95% {
    color: #000;
  }
  100% {
    color: #fff;
  }
}

@keyframes showme {
  0% {
    float: left;
    position: absolute;
    height: 0;
    overflow: hidden;
  }
  99% {
    float: left;
    position: absolute;
    height: 0;
    overflow: hidden;
  }
  100% {
    float: none;
    position: relative;
    height: inherit;
    overflow: inherit;
  }
}

#alert {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  visibility: hidden;
}

#insidec {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  opacity: 0.5;
}

#alertext {
  width: 40em;
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  position: fixed;
  z-index: 2;
  background-color: #fff;
  margin-top: 30vh;
  padding-bottom: 2em;
  left: 50%;
  margin-left: -20em;
}

@media only screen and (max-width: 50em) {
  #alertext {
    width: 80%;
    left: auto;
    margin-left: 10%;
    margin-top: 10vh;
  }
}

#alertext p {
  margin-left: 1em;
  margin-right: 1em;
}

#ex {
  margin: 1em;
  position: absolute;
  float: left;
  left: 0;
}

@media only screen and (max-width: 42em) {
  #alertext br {
    margin-bottom: 1.5em;
  }
}

#imgs img {
  width: 15em;
  padding-right: 1em;
  float: right;
}

#imgs {
   min-height: 15em;
   text-align: center;
 }

 #imgs h2{
   text-align: left;
   padding-top: 3em;
 }

 @media only screen and (max-width: 40em) {
   #imgs h2{
     padding-top: 0;
     margin-top: 0;
     text-align: center;
     margin-bottom: 3em;
   }
   #imgs img {
     margin: 0 auto;
     float: none;
   }
 }
