body {
 font-family: "renner", sans; 
 color: #333333;
 background-color: #F2F2F2;
 padding-left: 10%;
 padding-right: 10%;
}

h1 {
 line-height: 0.8;
}

h2 {
 font-family: "rennermedium", sans;
 font-weight: normal;
}

a {
 text-decoration: inherit;
}
