body {
 font-family: "Jost", sans; 
 color: #333333;
 background-color: #F2F2F2;
 padding-left: 10%;
 padding-right: 10%;
}

h1 {
 line-height: 0.8;
}

h2 {
 font-family: "Jost", sans;
 font-weight: 500;
}

a {
 text-decoration: inherit;
}

#hideme {
 background-color: black;
 margin-top: -10px; 
 margin-left: -8px; 
 margin-bottom: -12px;
 width: 200px;
 height: 40px;
 height: 0;
}
