body {
  margin: 0;
  background-color: rgb(222,219,227);
  color: white;
}

img {
  width: 40vw;
  float: left;
  margin-left: 5vw;
  margin-top: 5vh;
}

audio {
  width: 80vw;
  margin-bottom: -4px;
  filter: invert(10%) grayscale() sepia(80%) hue-rotate(180deg) brightness(133%) contrast(110%) opacity(60%);
}

#audio {
  width: 80vw;
  position: absolute;
  left: 10vw;
  bottom: 7.5vh;
  background-color: rgb(174,165,187);
  border-radius: 50px;
}

#left {
  cursor: url("sources/left.svg") 0 0, auto;
}

#right {
  cursor: url("sources/right.svg") 0 0, auto;
}

@-moz-document url-prefix() {
  audio {
    filter: invert(90%) grayscale() sepia(50%) hue-rotate(210deg) brightness(114%) opacity(60%);
  }
  #audio {
    background-color: rgb(189,184,204);
    border-radius: 0;
  }
}

@media only screen and (max-width: 800px) {
  img {
    width: 37vh;
    margin-left: -20vh;
    padding-left: 50vw;
    margin-top: 2vh;
  }
  #audio {
    bottom: 5vh;
  }
}
