body {
  margin: 0;
  background-color: rgb(222,219,227);
  color: white;
}

img {
  width: 40vw;
  float: left;
  margin-left: 5vw;
  margin-top: 5vh;
}

audio {
  width: 80vw;
  position: absolute;
  left: 10vw;
  bottom: 7.5vh;
  filter: invert(18%) grayscale() sepia(100%) contrast(95%) saturate(1000%) hue-rotate(185deg) brightness(102%) grayscale(78%) opacity(90%);
}

#left {
  cursor: url("sources/left.svg") 0 0, auto;
}

#right {
  cursor: url("sources/right.svg") 0 0, auto;
}

@-moz-document url-prefix() {
  audio {
    filter: contrast(200%) invert(80%) grayscale() sepia(100%) saturate(1000%) hue-rotate(184deg) brightness(99%) grayscale(80%) opacity(90%);
  }
}

@media only screen and (max-width: 800px) {
  img {
    width: 37vh;
    margin-left: -20vh;
    padding-left: 50vw;
    margin-top: 2vh;
  }
  audio {
    bottom: 5vh;
  }
}
