body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "DejaVuSans", Sans;
}

#container {
	background-color: black;
	width: 100vh;
	height: 100vw;
	overflow: scroll;
	transform-origin: top left;
	transform: rotate(-90deg) translate(-100vh, 0);
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

#container::-webkit-scrollbar {
	display: none;
}

img {
	width: 100vh;
	display:block;
}

img:hover {
	opacity: 50%;
}

h1 {
	color: white;
	position: absolute;
	top: 30px;
	left: 10px;
	font-size: 50px;
	line-height: 1;
	margin: 0;
	text-shadow: 2px 2px 30px black;
}

#infoBox {
	position: absolute;
	top: 100px;
	left: -600px;
	background-color: white;
	width: 480px;
	max-width: 70vw;
	max-height: 70vh;
	border: solid black 2px;
	padding: 20px;
	overflow: scroll;
}

#infoBox img {
	float: left;
	height: 200px;
	width: 200px;
	margin: 0 20px 15px 0;
	border: solid black 1px;	
}

h2 {
	line-height: 1;
	margin: 0;
	font-weight: 400;
}

#artist {
	font-weight: 700;
	line-height: 1;
	margin: 13px;
}

#info {
	margin: 0;
}

#cover {
	background-image: url("load.gif");
	background-repeat: no-repeat;
	background-position: center center;
}
