@font-face {
	font-family: "Fraunces";
	src: url("fonts/Fraunces[SOFT,WONK,opsz,wght].woff2") format("woff");
	font-style: normal;
}

@font-face {
	font-family: "Fraunces";
	src: url("fonts/Fraunces-Italic[SOFT,WONK,opsz,wght].woff2") format("woff");
	font-style: italic;
}

@font-face {
	font-family: "Cooper";
	src: url("fonts/Cooper[wght].woff2") format("woff");
	font-style: normal;
}

@font-face {
	font-family: "Cooper";
	src: url("fonts/Cooper-Italic[wght].woff2") format("woff");
	font-style: italic;
}

body {
	margin: 0;
	background-color: #504130;
	color: #ffffdd;
}

h2{
	font-family: "Cooper";
	text-align: center;
	font-size: 50px;
	font-weight: 550;
	line-height: 1;
	margin-bottom: 0;
	color: #53c698;
}

h1 {
	font-family: "Fraunces";
	text-align: center;
	font-size: 10vw;
	margin: 0;
	line-height: 1;
	font-variation-settings: 'SOFT' 100, 'opsz' 40, 'wght' 300;
	transition: font-variation-settings 1s, letter-spacing -1s;
}

.shroom {
	width: 100%;
	height: 80px;
	background-image: url("shroom1.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-top: 40px;
	animation-name: shroom;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shroom {
  0%   {background-image: url("shroom1.svg");}
  33%  {background-image: url("shroom2.svg");}
  67%  {background-image: url("shroom3.svg");}
}

#body {
	background-color: #ffffdd;
	color: #504130;
	border: 5px solid #39ac7e;
	width: 90vw;
	margin: auto;
	max-width: 1000px;
	border-radius: 50px;
}

#body h2 {
	text-align: left;
	padding-top: 0.3em;
	padding-left: 30px;
	font-weight: 600;
	color: #39ac7e;
	margin-top: -0px;
	padding-right: 30px;
}

#body p {
	font-family: "Cooper";
	padding-left: 30px;
	padding-right: 30px;
	font-size: 26px;
}

a {
	color: #39ac7e;
}

.brownshroom {
	width: 100%;
	height: 80px;
	background-image: url("brownshroom1.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-top: 40px;
	animation-name: brownshroom;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

@keyframes brownshroom {
  0%   {background-image: url("brownshroom1.svg");}
  33%  {background-image: url("brownshroom2.svg");}
  67%  {background-image: url("brownshroom3.svg");}
}

ul {
	font-family: "Cooper";
	padding-left: 60px;
	padding-right: 30px;
	font-size: 26px;	
}

img {
	width: calc(100% - 70px);
	margin: 30px;
	border: 5px solid #39ac7e;
	border-radius: 30px;
}

@media only screen and (max-width: 550px) {
	h1 {
		font-size: 15vw;
	}
	#small-title {
		font-size: 8vw;
	}
}
