body {
  background-color: rgb(83, 93, 108);
  color: rgb(219, 222, 227);
  margin: 0;
  font-family: "IBM Plex Sans";
  font-size: 20px;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

h2 {
  margin-bottom: -0.5em;
}

#head {
  font-family: 'Bodoni 11';
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
}

.left {
  width: 40vw;
  margin-left: 10vw;
  padding-right: 0.5em;
  position: absolute;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow-y:scroll;
  overflow-x:hidden;
}
.left::-webkit-scrollbar {
    display: none;
}

.left h1 {
  margin-bottom: 60px;
}

.left p {
  padding-right: 7vw;
}

.left img {
  width: 100%;
  margin-top: 140px;
  box-shadow: 0.5em 0.5em rgb(55, 62, 72);
}

.right {
  width: 40vw;
  right: 10vw;
  position: absolute;
  top: 0;
  max-height: 100vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow-y:scroll;
  overflow-x:hidden;
}
.right::-webkit-scrollbar {
    display: none;
}

.right #single{
  margin-top: 40vh;
  text-align: right;
}

.right h1 {
  margin-bottom: 60px;
}

.right p {
  padding-left: 7vw;
}

.right h2 {
  padding-left: 7vw;
}

#topfade {
  background-image: linear-gradient(rgb(83, 93, 108), rgb(83, 93, 108) 60%, rgba(219, 222, 227, 0));
  height: 150px;
  z-index: 1;
  width: 50vw;
  position: absolute;
  top: 0;
}

@media only screen and (max-width: 850px) {
#topfade {
    background-image: linear-gradient(rgb(83, 93, 108), rgb(83, 93, 108) 80%, rgba(219, 222, 227, 0));
    height: 200px;
  }
  .left h1 {
    margin-bottom: 110px;
  }
  .right h1 {
    margin-bottom: 110px;
  }
  .left img {
    margin-top: 210px;
  }
  h2 {
    font-size: 25px;
  }
  #floatingScroll{
    visibility: hidden;
  }
}

#bottomfade {
  background-image: linear-gradient(rgba(219, 222, 227, 0), rgb(83, 93, 108));
  height: 60px;
  z-index: 1;
  width: 50vw;
  position: fixed;
  bottom: 0;
}

.galinner {
  height: 60vh;
  width: 310vh;
  margin-top: -30vh;
  margin-left: -155vh;
  transform: rotate(90deg) translate(155vh,-30vh);
}

.galinner img {
  height: 50vh;
  margin: 10vh;
  margin-top: 5vh;
  float: left;
  box-shadow: 0.5em 0.5em rgb(55, 62, 72);
}

.galinner a {
  cursor: zoom-in;
}

.galinner img.wide {
  height: 35vh;
  margin-top: 9vh;
}

.galone {
  width: 60vh;
  height: 100vw;
  margin-left: -30vh;
  margin-top: -50vw;
  height: 100vw;
  transform: rotate(270deg) translate(-30vh,50vw);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  overflow-y:scroll;
  overflow-x:hidden;
}
.galone::-webkit-scrollbar {
    display: none;
}

.galout {
  margin-top: 150px;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

#leftscroll {
  height: 60vh;
  position: absolute;
  left: 0;
  top: 150px;
  z-index: 2;
  background-image: linear-gradient(to right, rgb(83, 93, 108), rgb(83, 93, 108) 30%, rgba(219, 222, 227, 0));
  width: 4em;
}

#rightscroll {
  height: 60vh;
  position: absolute;
  right: 0;
  top: 150px;
  z-index: 2;
  background-image: linear-gradient(to left, rgb(83, 93, 108), rgb(83, 93, 108) 10%, rgba(219, 222, 227, 0));
  width: 3em;
}

.rightstick {
  right: 0;
}

#floatingScroll{
  position: absolute;
  right: 5vw;
  margin-top: 25vh;
  z-index: 2;
  background-color: rgb(83, 93, 108);
  animation: tips 10s linear;
  animation-iteration-count: 1;
}

@keyframes tips {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

#title {
  text-align: center;
  margin-top: 1em;
  font-weight: bold;
}

#navleft {
  position: absolute;
  left: 5em;
  bottom: 3em;
  z-index: 2;
}

#navright {
  position: absolute;
  right: 5em;
  bottom: 3em;
  z-index: 2;
}

#bottomfadei {
  background-image: linear-gradient(rgba(83, 93, 108, 0), rgb(83, 93, 108) 40%, rgb(83, 93, 108));
  height: 150px;
  z-index: 1;
  width: 50vw;
  position: fixed;
  bottom: 0;
}
