body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  line-height: 2;
  -webkit-columns: 90vw 100; /* Chrome, Safari, Opera */
  -moz-columns: 95vw 100; /* Firefox */
  columns: 90vw 100;
  height: 94vh;
}

@media screen and (min-width: 60em) {
    body {
        background-color: lightgreen;
        -webkit-columns: 60em 100; /* Chrome, Safari, Opera */
        -moz-columns: 60em 100; /* Firefox */
        columns: 60em 100;
    }
}

p {
  max-width: 40em;
  padding-left: 2em;
  padding-right: 2em;
}

div {
  width: 100vw;
  text-align: center;
  margin-top: 30vh;
  margin-bottom: 68vh;
}
