body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  line-height: 2;
  height: 95vh;
  overflow-y: hidden;
}

@media screen and (min-width: 60em) {
    body {
        -webkit-columns: 35em 100;
        -moz-columns: 35em 100;
        columns: 35em 100;
    }
}

@media screen and (max-width: 60em) {
    body {
        -webkit-columns: 95vw 100;
        -moz-columns: 95vw 100;
        columns: 95vw 100;
    }
}

p {
  max-width: 40em;
  padding-left: 2em;
  padding-right: 2em;
}

div {
  width: 100vw;
  text-align: center;
  margin-top: 30vh;
  margin-bottom: 68vh;
}
