body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2em;
  line-height: 2;
  height: 95vh;
  overflow-y: hidden;
  -webkit-columns: 95vw 100;
  -moz-columns: 95vw 100;
  columns: 95vw 100;
  scroll-snap-type: mandatory;
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(100%);
}

span {
  animation: fade 7s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}


p {
  max-width: 40em;
  padding-left: 2em;
  padding-right: 2em;
}

.title {
  width: 100vw;
  text-align: center;
  margin-top: 30vh;
  margin-bottom: 68vh;
}

.everything {
  transform: rotate(-90deg);
  transform-origin: right top;
}
