body {
	font-family: "Helvetica", "Ariel", "Sans";
	font-size: 16px;
	color: #121212;
	margin: 0;
	padding: 0;
}

#header {
	background-color: #002D56;
	width: 100vw;
	padding: 0;
	padding-top: 20px;
}

h1 {
	font-size: 40px;
	text-align: center;
	line-height: 1;
	font-family: "Besley";
	font-weight: 600;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 25px;
	color: white;
	margin-bottom: 30px;
	
}

h2 {
	font-size: 20px;
}

.question {
	width: 80%;
	max-width: 800px;
	margin: auto;
	padding-bottom: 30px;
}

.question select {
	font-family: "Helvetica", "Ariel", "Sans";
	font-size: 16px;
	border: solid black 1px;
	min-width: 100px;
}

.question input {
	font-family: "IBM Plex Sans", "Sans";
	font-size: 16px;
	border: solid black 1px;
}

#howLong {
	display: none;
}

#howMuch {
	display: none;
}

#find {
	width: 80%;
	max-width: 800px;
	margin: auto;
	padding-bottom: 30px;
}

button {
	font-family: "Helvetica", "Ariel", "Sans";
	font-size: 16px;
	border: solid black 1px;
	min-width: 100px;
}

.program {
	width: 80%;
	max-width: 800px;
	margin: auto;
	padding-bottom: 30px;
}

.program h2 {
	margin: 0;
	line-height: 1.2;
}

#programs {
	display: none;
}

#homeContain {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#homeContain #header h1 {
	margin-bottom: 0;
}

#slideshow {
	width: 100vw;
	height: 100%;
	overflow: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

#holder {
	height: 100%;
	width: 300vw;
}

.slide {
	scroll-snap-align: none center;
	width: 100vw;
	float: left;
	background-size: cover;
	background-position: 50% 50%;
	height: 100%;
	color: white;
	text-shadow: 0 0 10px black, 0 0 4px black, 0 0 4px black;
}

#slide1 {
	background-image: url("pexels-photo-1128318.jpg");
	background-position: 80% 40%;
}

#slide2 {
	background-image: url("pexels-photo-4044784.jpg");
	background-position: 20% 50%;
}

#slide3 {
	background-image: url("pexels-19773969.jpg");
	background-position: 70% 15%;
}

#button {
	position: absolute;
	background-color: #D9531E;
	right: 0;
	bottom: 50px;
	width: 300px;
	color: white;
	cursor: pointer;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	padding: 20px 10px;
}

#button span {
	display: inline-block;
	transform: translateX(0);
	transition: transform 0.3s;
}

#button:hover span {
	transform: translateX(15px);
}

.slide h2 {
	width: 50vw;
	min-width: 400px;
	font-size: 26px;
	margin: 20px;
	margin-top: 2em;
}

.slide p {
	width: 40vw;
	min-width: 400px;
	font-size: 20px;
	margin: 20px;
}

.slide ul {
	width: 40vw;
	min-width: 400px;
	font-size: 26px;
	margin: 20px;
}

.slide a {
	color: white;
}

#slide3 h2 {
	margin-top: 30vh;
}

#goRight {
	position: absolute;
	right: 10px;
	top: 50vh;
	height: 30px;
	width: 30px;
	margin-top: -15px;
	background-image: url("right-arrow.svg");
	background-size: cover;
	cursor: pointer;
}

#goRight:hover {
	background-image: url("right-arrow-hover.svg");
}

#countdown {
	width: 0;
	height: 5px;
	background-color: white;
	position: absolute;
	float: left;
	left: 0;
	bottom: 0;
	animation-name: countdown;
	animation-duration: 15s;
	animation-timing-function: linear;
}

@keyframes countdown {
  from {width: 0;}
  to {width: 100vw;}
}

#return {
	background-color: #D9531E;
	right: 0;
	bottom: 50px;
	width: 300px;
	color: white;
	cursor: pointer;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	padding: 20px 10px;
	margin: 20px auto;
}

button {
	background-color: #D9531E;
	right: 0;
	bottom: 50px;
	width: 300px;
	color: white;
	cursor: pointer;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	padding: 20px 10px;
	margin: 20px auto;
	border: none;
}
